{% extends 'base.html.twig' %}

{% block head_extra %}
<link rel="stylesheet" href="/asset/css/auth.css">
{% endblock %}

{% block body %}
<div class="auth-wrapper">
    <div class="auth-logo">
        <i class="fa-solid fa-database"></i>
        <h1>MySQL Manager</h1>
        <p>Gestione database sicura e centralizzata</p>
    </div>

    <div class="card auth-card">
        <div class="card-body">
            <h5 class="card-title">{% block card_title %}Accedi{% endblock %}</h5>

            {% for message in app.flashes('success') %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <i class="fa-solid fa-circle-check me-2"></i>{{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>
            {% endfor %}

            {% for message in app.flashes('error') %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <i class="fa-solid fa-circle-exclamation me-2"></i>{{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>
            {% endfor %}

            {% block content %}{% endblock %}
        </div>
    </div>

    {% block auth_footer %}{% endblock %}
</div>
{% endblock %}
